.game {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &__logo {
    height: 30px;
    margin-right: 10px;
  }

  &__name {
    font-size: 16px;
  }
}

.game-item {
  display: inline-block;
  margin-right: 10px;
}