.game {
  display: flex;
    align-items: center;
    border: 2px solid #999999;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;

  .game__logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .game__name {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}

