.navigation {
  display: flex;
  background-color: #0080FF;

  img {
    max-height: 5em;
  }

  ul {
    display: flex;
  }

  ul > li {
    justify-content: space-between;
    width: 100px;
  }

  ul > li > a {
    color: blue;
    text-decoration: none;
  }
}
