.navigation {
  display: flex;
  background-color: #0080FF;

  img {
    max-height: 5em;
  }

  ul {
    display: flex;
    margin-left: auto;
  }

  li {
    margin-left: 1em;
  }

  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: yellow;
    }
  }
}