.session-card {
  width: 40%;
  border: solid black;
  margin: 1em;
  padding: 1.5em 3em;
  border-radius: 1em;
  background-color: #bebebe
  ;

  .fa-discord {
    color: #7289da;
  }

  .session-prefs-description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .preferences {
      display: flex;
      flex-direction: column;
    }
  }
}
