@import url("https://fonts.googleapis.com/css?family=Lato:300");

.session-card {
  width: 100%;
  max-width: 900px;
  margin: 1em auto;
  padding: 1.5em 3em;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
    /* background image */
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgNCAgICAgHBwgHBwoHBwcHBw8ICQcKFREWFhUREx8YHSggGBolJx8TITEhMSkrLi4uFx8zODMtNygtLjcBCgoKDQ0NDg0PDysZFRk3LSsrKystKys3NzcrKysrLTc3KystKysrKysrKysrKysrKysrKysrKy0rKysrKysrK//AABEIAJABXQMBIgACEQEDEQH/xAAZAAADAQEBAAAAAAAAAAAAAAAAAQIDBAf/xAAcEAEBAQEBAQEBAQAAAAAAAAAAAQIRA0EhEjH/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQID/8QAGREBAQEBAQEAAAAAAAAAAAAAAAERMQIh/9oADAMBAAIRAxEAPwD3EAAAAAAAAAAAAAAAAAAACAwRAfR1Npf0uJrQimjRR0uglD6Oo6OmI06bOVUpiqBSmgAAAAAAAAAAAAAAAAAAAAAAAAAAAAIDIul0FhPT6BkCtAWlam1Nq41F9PrL+jmhcXU0+lVjFietM7Zaie8azXPbHSVRj060Y43LrOkuxFagOnKil1cG0qpWM0uVmwahMpsqYAAAAAAAAAAAAAAAAAAAgA6aaUq4iiphFSXTqa0DpypHTEX0qUp9MVFRWliNRTU9L+hUUxuVrNLlc/VTSY1jas9RU0Ksrn68su2N/L1l/Ky1ll2yt5rhd813J1Gfj6y/lbOeY6SysbEVtqM9RqVUyqmmdErWI6JpcrnzppnTFitpTRKqVhTAAAAAAAAAAAAACBAZEOimmq6SomVcqLCl4uazxpU1UvRYjTOpaWIsaiF1UqB1RoVhSq6gy1Geo6LEaysquel1prLOxpqel500zpzqzpmxvrdGsnnSyXHP15c3LL+Onx9e/lRrLKyyt/PUcb5vm7HdYjWUePr8rauXG5dYayzsdFjPWW5VZxeamwoqN81pK581pmsWK2lNEqowpgAAAAAAAAACJRAmkqpqg6fUgVVRqKlCoiXjWXrOwpeLms8a2IsXL0WMtMbEtbEWNSonqpU2BRrKLESrlQRrLPWHQm5JRyXKXTrDLWW9alTmtc6Y8VKljWt06yWdNInGbGFllbeXp8payzss/wAa65Zn2OtNiPL0+Vq58bl1jrKLG9iLlqUZReaVhKNc1pKwzWmazYNZTRKqMKYAAAAAAAAAAisUQIsS0sTY0JVC4ANNigCJbGsvUWFLwv1GlibFSixFZWJ41sTY1KjNUo4SjSVTOVcrNBYz1lsVhqubWGdjq1lnrDcoxlaZ0m5KBreFYnOmkTgys4189/KViLOL1nHSmxPnv5WjHGmVyixtYmxZUZKlFhNDSVcrGVcrNg1holVKwpgAAAAAAAAAAmxQBFhcXwrFEg+EoZWHDRES8XKVhRVXYmxUo4gysLjSwrFlEHBYFRUqkRUZU+JuVGDDWUXLosTctSo515qrlPGhcFhRcZGVjTz38p3KLk6N02FjS2eKysTY1sKxZRlw4rhcXUVFxnFRKq4aYbIYAAAAAAAAAAAAC4XFEBAwoE2KAJipSsAHwrFQIIsLi7CsXRBwyUVDSaBjgNBFiblqVi6MuHFWFxdQ4LAaDOxeadieKLLglUyqOFxfC4uiOHD4FBFRJoKBGgAAAAAAAAAAAAAAAAAAALhgCMEBkYAuFxRAQMKAyCBgAAXDAJ4ZgCHDAJ4cplwDBGBFxQBIMADIwf/Z');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /* animation */
    animation-name: scroll-bg;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    

    





  h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
    width: 40%;
    font-family: 'Roboto Mono', monospace;
  }
  
  .fa-discord {
  color: #7289da;
  }
  
  .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
  }
  
  footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;

  .session-full {
    padding: 1rem 2rem;
    background-color: rgb(255, 180, 180);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: not-allowed;
    border-radius: 4px;
    font-weight: bold;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  button {
    padding: 1rem 2rem;
    background-color: #0080FF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: #0066cc;
    }
  
    &:active {
      transform: scale(0.95);
      background-color: #0052a3;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    }
  
    &.leave-session {
      background-color: #ff4d4d;
      margin-top: 0;
      margin-right: 1em;
  
      &:hover {
        background-color: #cc0000;
      }
  
      &:active {
        transform: scale(0.95);
      }
    }
  }

}

/* keyframes for the animation */
@keyframes scroll-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -1000px;
  }
}

.kick-button {
background-color: #ff4d4d;
border: none;
color: white;
font-size: 1.5rem;
padding: 10px 20px;
border-radius: 4px;
cursor: pointer;
transition: all 0.2s ease-in-out;
margin-top: 1em;

&:hover {
  background-color: #cc0000;
}

&:active {
  transform: scale(0.95);
}

}

.host-description {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1em;
}

.details {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 100%;
margin-bottom: 1em;

.preferences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
}
}