.user-list-item {
  display: table-row;

  &__username,
  &__discord-tag {
    padding: 8px;
    border-right: 1px solid #ddd;
  }
  
  &__profile-pic {
    padding: 8px;
    border-right: 1px solid #ddd;

    img {
      max-width: 48px;
      max-height: 48px;
    }
  }
  
  &:last-child {
    &__username,
    &__discord-tag,
    &__profile-pic {
      border-bottom: 1px solid #ddd;
    }
  }
}