extends layout

block content
  h1 Signup
  form(method='POST' action='/signup')
    label(for='username') Username:
    input(type='text' name='username' id='username' placeholder='Enter your username' required)
    br
    label(for='password') Password:
    input(type='password' name='password' id='password' placeholder='Enter your password' required)
    br
    label(for='email') Email:
    input(type='email' name='email' id='email' placeholder='Enter your email' required)
    br
    label(for='discord_tag') Discord Tag:
    input(type='text' name='discord_tag' id='discord_tag' placeholder='Enter your Discord tag' required)
    br
    button(type='submit') Signup
    br
    a(href='/login') Already have an account? Login here